<html>
    <head>
        <title>标题</title>
    </head>
    <body>
        <form action="/notify" method="get">
        <table>
            <tr>
                <td>标题</td>
                <td><input type="text" name="title"></td>
            </tr>
            <tr>
                <td>内容</td>
                <td><textarea rows="10" cols="50" name="content" ></textarea></td>
            </tr>
            <tr>
                <td><input type="submit" value="发送"></td>
            </tr>
            <tr>
                <td><a href="/setting">前往设置页面</a></td>
            </tr>
        </table>
    </form>
    </body>
</html>